.userBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(75, 7, 5);
  height: 75px;
}

.userName {
  color: aliceblue;
  font-weight: bold;
  font-size: medium;
  margin: 0px 15px 0px 15px;
}

.signOut {
  margin: 0px 15px 0px 15px;
  background-color: transparent;
  cursor: pointer;
}

.userImg {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.menuBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(250, 249, 249);
  border: 1px solid rgb(75, 7, 5);
  height: 50px;
  z-index: 300;
}

.svgImg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}


.userAtributes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title{ 
  color: azure;
}