.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  margin: 0px;
  width: 80%;
  left: 82%;
  border: 1px solid black;
  max-height: 50%;
  border-radius: var(--border-radius);
  background-color: #fdf8f8;
  z-index: 301;
}

.option {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

.option:hover {
  background-color: #9e9898;
}
